<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ message }}
<script>
function run() {
    var ws = new WebSocket("ws://localhost:9908/ws");
    ws.onopen = function(evt) {
        console.log('Connection open...');
        ws.send('h');
    };

    ws.onmessage = function(evt) {
        console.log(evt.data);
    };

    ws.onclose = function(evt) {
        console.log(evt.data)
    };
}
</script>
<button onclick="run()">click</button>
</body>
</html>